.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(245, 245, 220, 0.7);
  position: relative;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-box {
  all: unset;
  background: rgba(255, 255, 255, 0.9);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  border: 2px solid #8B4513;
  z-index: 1;
}

.logo {
  width: 400px;
  height: 200px;
  margin: 0 auto 1rem auto;
  border-radius: 10px;
}

.login-box label {
  display: block;
  text-align: left;
  font-weight: 600;
  color: #5A3E1B;
  margin-bottom: 5px;
}

.input-field {
  width: 95%;
  padding: 10px;
  border: 1px solid #8B4513;
  border-radius: 5px;
  outline: none;
  background: white;
  color: black;
  transition: border 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #A0522D;
  box-shadow: 0 0 5px rgba(160, 82, 45, 0.5);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.login-box button {
  background: #000000;
  color: white;
  padding: 10px;
  width: 48%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.login-box button:hover {
  background: #A0522D;
}

.register-button {
  background: #5A3E1B;
}

#loginWords {
  color: #050505;
}

.input-field:first-of-type {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.auth-button {
  background: #000000;
  color: white;
  padding: 10px;
  width: 48%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  text-align: center;
}

.auth-button:hover {
  background: #A0522D;
}

.auth-button-link {
  width: 48%;
  text-decoration: none;
  display: flex;
}

.auth-button-link button {
  width: 100%;
}