#card-container {
  max-height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px; /* A bit more spacing inside */
  margin: 0 auto;
}

#card-container::-webkit-scrollbar {
  width: 8px;
}

#card-container::-webkit-scrollbar-thumb {
  background-color: #edd3a1;
  border-radius: 4px;
}

.container {
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.row {
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.row:first-child {
  margin-bottom: 20px;
  text-align: center;
}

.row:first-child h3 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.btn-custom {
  background-color: #edd2a8;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
  background-color: #e6a902;
  transform: translateY(-2px);
}

.btn-custom:active {
  transform: translateY(0);
  background-color: #d79902;
}

.empty-recipes-img {
  width: 400px;
  margin: 10px auto;
  display: block;
  opacity: 0.7;
}

.text-secondary {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #666;
}
.heavy-cross {
  font-size: 24px; /* Adjust size */
  color: #8b4513; /* A deep brown tone */
  font-weight: bold;
}
